.period-btns {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 5px;
  width: 100%;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 2px var(--borderColor);
    padding: 7px;
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    color: var(--textColor);

    &.selected {
      border: 2px solid var(--borderColor);
    }

    &:hover {
      scale: 1.01;
    }
  }
}
