<div class="line-chart-card">
  <div class="chart-header">
    <app-time-period-btns class="period-btns"></app-time-period-btns>
    <app-edit-chart-menu
      [chartData]="chartData"
      [currentPeriod]="currentTimePeriod"
    ></app-edit-chart-menu>
  </div>
  <canvas
    *ngIf="chartData; else loading"
    baseChart
    width="450"
    height="450"
    [type]="'line'"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [legend]="lineChartLegend"
  >
  </canvas>

  <ng-template #loading>
    <img
      class="loading"
      src="assets/animatedSvg/loading.svg"
      alt="Loading..."
    />
  </ng-template>
</div>
