<div class="line-chart-card">
  <div class="chart-header">
    <app-time-period-btns class="period-btns"></app-time-period-btns>
    <app-edit-chart-menu
      [chartData]="chartData"
      [currentPeriod]="currentTimePeriod"
      [type]="type"
    ></app-edit-chart-menu>
  </div>
  <div class="chart-container">
    <canvas
      *ngIf="chartData; else loading"
      baseChart
      [type]="chartConfig.type"
      [data]="chartConfig.data"
      [options]="chartConfig.options"
      [legend]="lineChartLegend"
    >
    </canvas>
  </div>
  <ng-template #loading>
    <img
      class="loading"
      src="assets/animatedSvg/loading.svg"
      alt="Loading..."
    />
  </ng-template>
</div>
