.chart-data-input {
  box-shadow: 0 0 2px var(--borderColor);
  border-radius: 9px;
  background-color: var(--bgColor);
  color: var(--textColor);
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding: 5px;
  text-align: center;
}
