@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/Comfortaa-Medium.ttf);
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  src: url(assets/fonts/Comfortaa-SemiBold.ttf);
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: bold;
  src: url(assets/fonts/Comfortaa-Bold.ttf);
}
